$color-text: #333;

%dinpro-black {
  font-family: "DIN Pro-Black", sans-serif;
  font-weight: 800;
}

%dinpro-medium {
  font-family: "DIN Pro", sans-serif;
  font-weight: 500;
}

%helvetica-light {
  font-family: "Helvetica Neue-Light", sans-serif;
  font-weight: 300;
}

%helvetica-medium {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
}