@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
  }

  &__toolbar-items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 40px;
  }

  &__toolbar-item {
    color: $color-text;
    &:hover {
      transform: scale(1.1);
    }
    
    &--buy {
      height: 48px;
      width: 102px;
      background-color: $color-text;
      transition: transform .3s;
    }
  }

  &__toolbar-link {
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    width: 100%;
    color: $color-text;
    &:hover {
      // color: red;
      font-weight: bold;
    }

    &--buy {
      display: inline-block;
      font-size: 12px;
      color: #fff;
    }
  }
}

.top {
  &__inner {
    display: flex;
    margin: 0 auto;
  }

  &__img {
    order: 1;
    max-width: 939px;
    overflow: hidden;
  }

  &__box {
    max-width: 378px;
    padding-top: 64px;
  }
  &__title {
    @extend %dinpro-black;
    padding-bottom: 44px;
    font-size: 64px;
    line-height: 83px;
    text-transform: uppercase;
    color: $color-text;
  }

  &__text {
    max-width: 276px;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
  }
}

.menu {

  &__nav {
    margin: 40px auto 0;
  }
  &__list {
    height: 76px;
    display: grid;
    grid-template-columns: repeat(5,max-content);
    grid-column-gap: 75px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 21px;
    display: inline-block;
    list-style: none;
    width: fit-content;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-text;
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.advantages {
  &__inner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // grid-template-rows: auto 4.5em auto;
    grid-column-gap: 30px;
    margin-top: 49px;
  }

  &__img {
    height: 45px;
    width: 50px;
    margin: 0 auto;
  }

  &__title {
    min-height: 60px;
    margin-top: 40px;
    @extend %dinpro-medium;
    font-size: 24px;
    line-height: 30px;
    color: $color-text;
    text-transform: uppercase;
    text-align: center;
    
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
    color: #7c7c7c;
  }
}

.video {
  &__inner {
    margin: 155px auto 0 auto;
    // margin-top: 155px;
    max-width: 1440px;
  }
}

video {
  object-fit: contain;
}

.design {
  &__inner {
    display: flex;
    margin: 150px auto 0;
    justify-content: space-between;
    position: relative;
    max-width: 940px;
  }

  &__photo {
    background: url('../images/design.png');
    height: 388px;
    width: 582px;
    background-size: cover;
  }

  &__title {
    position: absolute;
    top: 10px;
    left: 52.5%;
    max-width: 480px;
    @extend %dinpro-medium;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 72px;
    color: $color-text;
    background-color: transparent;
  }

  &__article {
    margin-left: 30px;
  }

  &__text {
    margin-top: 180px;
    width: 378px;
    @extend %helvetica-medium;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
  }

  &__link {
    display: inline-block;
    @extend %helvetica-medium;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0DB2B3;
    padding-top: 30px;

    &::after {
      content: "";
      display: block;
      border: 1px solid #0db2b3;
      width: 53px;
      margin-top: 6px;
      transition: width .3s;
    }

    &:hover {
      &::after {
        width: 125px;
      }
    }
  }
}

.technology {
  &__inner {
    max-width: 1440px;
    min-height: 775px;
    margin: 150px auto 0;
    overflow: hidden;
    position: relative;
  }

  &__title {
    max-width: 940px;
    margin: 0 auto;
    font-weight: 600;
    font-family: "DIN Pro", sans-serif;
    font-size: 56px;
    line-height: 72px;
    text-transform: uppercase;
    color: $color-text;
  }

  &__img {
    margin: 0 auto;
    width: 1230px;
    height: 546px;
    background-image: url(../images/technology.png);
    position: relative;
  }

  &__img-cl {
    cursor: pointer;
    &::before {
      content: "+";
      color: #fff;
      z-index: 10;
    }
    &::after {
      content: "";
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #0db2b3;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &:hover {
      .technology__img-text {
        display: inline-block;
        position: absolute;
      }
    }

    &:hover {
      &::after {
        background-color: $color-text;
        border-color: $color-text;
      }

      .technology__img-text--1 {
        top: -200px;
        width: 130px;
        border-left: 1px solid $color-text;
        border-top: 1px solid $color-text;
        margin-bottom: 50px;
        height: 140px;
        padding-top: 10px;
        padding-left: 50px;
      }

      .technology__img-text--2 {
        width: 180px;
        margin-top: 50px;
        border-left: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 140px;
        padding-top: 90px;
        padding-left: 50px;
      }

      .technology__img-text--3 {
        width: 110px;
        margin-top: 50px;
        border-left: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 180px;
        padding-top: 150px;
        padding-left: 50px;
      }

      .technology__img-text--4 {
        top: -140px;
        width: 150px;
        border-left: 1px solid $color-text;
        border-top: 1px solid $color-text;
        height: 140px;
        padding-top: 10px;
        padding-left: 50px;
      }

      .technology__img-text--5 {
        width: 220px;
        margin-top: 50px;
        border-left: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 110px;
        padding-top: 60px;
        padding-left: 50px;
      }

      .technology__img-text--6 {
        top: -200px;
        right: 5px;
        width: 150px;
        border-right: 1px solid $color-text;
        border-top: 1px solid $color-text;
        height: 140px;
        padding-top: 10px;
        padding-right: 30px;
      }

      .technology__img-text--7 {
        width: 160px;
        margin-top: 50px;
        border-left: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 150px;
        padding-top: 120px;
        padding-left: 50px;
      }

      .technology__img-text--8 {
        width: 160px;
        right: 5px;
        margin-top: 50px;
        border-right: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 250px;
        padding-top: 220px;
        padding-right: 50px;
      }

      .technology__img-text--9 {
        top: -100px;
        width: 130px;
        border-left: 1px solid $color-text;
        border-top: 1px solid $color-text;
        margin-bottom: 50px;
        height: 50px;
        padding-top: 10px;
        padding-left: 50px;
      }
      
      .technology__img-text--10 {
        width: 160px;
        right: 5px;
        margin-top: 50px;
        border-right: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 250px;
        padding-top: 200px;
        padding-right: 50px;
      }

      .technology__img-text--11 {
        width: 160px;
        right: 5px;
        margin-top: 50px;
        border-right: 1px solid $color-text;
        border-bottom: 1px solid $color-text;
        height: 230px;
        padding-top: 200px;
        padding-right: 50px;
      }
    }

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6,
    &--7,
    &--8,
    &--9,
    &--10,
    &--11 {
      position: absolute;
    }
    &--1 {
      margin-left: 150px;
      margin-top: 227px;
    }

    &--2 {
      margin-top: 400px;
      margin-left: 300px;
    }

    &--3 {
      margin-top: 302px;
      margin-left: 370px;
    }

    &--4 {
      margin-top: 170px;
      margin-left: 430px;
    }

    &--5 {
      margin-top: 440px;
      margin-left: 530px;
    }

    &--6 {
      margin-top: 210px;
      margin-left: 670px;
    }

    &--7 {
      margin-top: 327px;
      margin-left: 800px;
    }

    &--8 {
      margin-top: 200px;
      margin-left: 960px;
    }

    &--9 {
      margin-top: 110px;
      margin-left: 1090px;
    }

    &--10 {
      margin-top: 240px;
      margin-left: 1150px;
    }

    &--11 {
      margin-top: 180px;
      margin-left: 1200px;
    }
  }

  &__img-text {
    display: none;
    
    font-size: 14px;
    line-height: 21px;
    color: $color-text;
  }
}

.review {
  &__inner {
    text-align: center;
    margin: 0 auto;
    max-width: 786px;
    position: relative;
    background: url(../images/review.svg) no-repeat;
    background-position: top;
  }

  &__text {
    margin: 0 auto 30px;
    padding-top: 35px;
    text-align: center;
    @extend %dinpro-medium;
    font-size: 24px;
    line-height: 36px;
    color: $color-text;
  }

  &__name {
    font-size: 16px;
    line-height: 27px;
    margin: 20px auto 5px;
    color: $color-text;
  }

  &__position {
    font-size: 14px;
    line-height: 17px;
    color: #7C7C7C;
  }
}
@import "media";