@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
  }

  &__toolbar-items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 40px;
  }

  &__toolbar-item {
    color: #333;
    &:hover {
      transform: scale(1.1);
    }
    
    &--buy {
      height: 48px;
      width: 102px;
      background-color: #333;
      transition: transform .3s;
    }
  }

  &__toolbar-link {
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    width: 100%;
    color: $color-text;
    &:hover {
      // color: red;
      font-weight: bold;
    }

    &--buy {
      display: inline-block;
      font-size: 12px;
      color: #fff;
    }
  }
}

.top {
  &__inner {
    display: flex;
    margin: 0 auto;
  }

  &__img {
    order: 1;
    max-width: 816px;
    overflow: hidden;
  }

  &__box {
    max-width: 378px;
    padding-top: 64px;
  }
  &__title {
    
    @extend %dinpro-black;
    padding-bottom: 44px;
    font-size: 64px;
    line-height: 83px;
    text-transform: uppercase;
    color: $color-text;
  }

  &__text {
    max-width: 276px;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
  }
}

.menu {

  &__nav {
    margin: 40px auto 0;
  }
  &__list {
    height: 76px;
    display: grid;
    grid-template-columns: repeat(5,max-content);
    grid-column-gap: 75px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 21px;
    display: inline-block;
    list-style: none;
    width: fit-content;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-text;
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
@import "media";