@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
  }

  &__toolbar-items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 40px;
  }

  &__toolbar-item {
    color: #333;
    &:hover {
      transform: scale(1.1);
    }
    
    &--buy {
      height: 48px;
      width: 102px;
      background-color: #333;
      transition: transform .3s;
    }
  }

  &__toolbar-link {
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    width: 100%;
    color: $color-text;
    &:hover {
      // color: red;
      font-weight: bold;
    }

    &--buy {
      display: inline-block;
      font-size: 12px;
      color: #fff;
    }
  }
}

.top {
  &__inner {
    display: flex;
    margin: 0 auto;
  }

  &__img {
    order: 1;
    max-width: 939px;
    overflow: hidden;
  }

  &__box {
    max-width: 378px;
    padding-top: 64px;
  }
  &__title {
    @extend %dinpro-black;
    padding-bottom: 44px;
    font-size: 64px;
    line-height: 83px;
    text-transform: uppercase;
    color: $color-text;
  }

  &__text {
    max-width: 276px;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
  }
}

.menu {

  &__nav {
    margin: 40px auto 0;
  }
  &__list {
    height: 76px;
    display: grid;
    grid-template-columns: repeat(5,max-content);
    grid-column-gap: 75px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 21px;
    display: inline-block;
    list-style: none;
    width: fit-content;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-text;
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.advantages {
  &__inner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // grid-template-rows: auto 4.5em auto;
    grid-column-gap: 30px;
    margin-top: 49px;
  }

  &__img {
    height: 45px;
    width: 50px;
    margin: 0 auto;
  }

  &__title {
    min-height: 60px;
    margin-top: 40px;
    @extend %dinpro-medium;
    font-size: 24px;
    line-height: 30px;
    color: $color-text;
    text-transform: uppercase;
    text-align: center;
    
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
    color: #7c7c7c;
  }
}

.video {
  &__inner {
    margin: 155px auto 0 auto;
    // margin-top: 155px;
    max-width: 1440px;
  }
}

video {
  object-fit: contain;
}

.design {
  &__inner {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    position: relative;
    max-width: 940px;
  }

  &__photo {
    background: url('../images/design.png');
    height: 388px;
    width: 582px;
    background-size: cover;
  }

  &__title {
    position: absolute;
    top: 10px;
    left: 52.5%;
    max-width: 480px;
    @extend %dinpro-medium;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 72px;
    color: #333;
    background-color: transparent;
  }

  &__article {
    margin-left: 30px;
  }

  &__text {
    margin-top: 180px;
    width: 378px;
    @extend %helvetica-medium;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
  }

  &__link {
    display: inline-block;
    @extend %helvetica-medium;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0DB2B3;
    padding-top: 30px;

    &::after {
      content: "";
      display: block;
      border: 1px solid #0db2b3;
      width: 53px;
      margin-top: 6px;
      transition: width .3s;
    }

    &:hover {
      &::after {
        width: 125px;
      }
    }
  }
}
@import "media";